{% extends "template.html" %}
{% block conteudo %}
<form action="/criar_conta_extrato" method="post">
    <h1>Cadastro de Contas</h1>
    <fieldset>
        <div class="form-group">
          <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
        </div>
         <!--descricao, agencia, numero_conta, saldo_inicial, ativo-->
        <div class="form-group">
           <label for="descricao">Descricao</label>
           <input type="text" id="descricao" name="descricao" class="form-control">
        </div>
        <div class="form-group">
           <label for="agencia">Agência</label>
           <input type="text" id="agencia" name="agencia" class="form-control">
        </div>
        <div class="form-group">
           <label for="conta">Conta</label>
           <input type="text" id="conta" name="conta" class="form-control">
        </div>
        <div class="form-group">
           <label for="saldo_inicial">Saldo Inicial</label>
           <input type="number" id="saldo_inicial" name="saldo_inicial" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
</form>
{%endblock %}