{% extends "template.html" %}
{% block conteudo %}
             <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="/">Menu</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle dropbtn"  id="#navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                   onclick="myFunction()">Cadastro</a>
                                <div class="dropdown-menu dropdown-menu-dark dropdown-content"
                                     aria-labelledby="navbarDropdownMenuLink"
                                     id="myDropdown">
                                    <a class="dropdown-item" href="/conta_extrato">Conta</a>
                                    <a class="dropdown-item" href="/cliente">Cliente</a>
                                    <a class="dropdown-item" href="/fornecedor">Fornecedor</a>
                                    <a class="dropdown-item" href="/funcionario">Funcionário</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/conta_a_pagar">Contas a Pagar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/conta_a_receber">Contas a Receber</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/extrato_bancario">Extratos Bancários</a>
                            </li>
                            <!--<li class="nav-item">
                                <a class="nav-link" href="#">Trocas de Cheques</a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="modal fade" id="Rendimento" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="RendimentoLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="RendimentoLabel">Rendimento</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/salvar_rendimento"  method="post">
                                <fieldset>
                                    <div class="form-group">
                                      <label for="valor">Valor</label>
                                        <input maxlength="18" type="text" id="valor" name="valor" class="form-control">
                                    </div>
                                    <div class="form-group">
                                       <label for="hist">Histórico</label>
                                       <input maxlength="250" type="text" id="hist" name="hist" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="emissao">Emissão</label>
                                        <input  maxlength="30" type="date" id="emissao" name="emissao" class="form-control">
                                    </div>

                                    </br>
                                    <button type="submit" class="btn btn-primary btn-salvar">
                                        Salvar
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Cancelar
                                    </button>
                                    </br>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="Transferencia" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="TransferenciaLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="TransferenciaLabel">Transferência</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/salvar_transferencia"  method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="conta_destino">Conta Destino</label>
                                        <select class="form-select" id="conta_destino">
                                          <option selected>Escolha uma conta</option>
                                          {% for conta in relacaoContasConsulta %}
                                          <option value="{{conta['CODIGO']}}">{{conta['DESCRICAO']}}</option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                    <div class="form-group">
                                      <label for="valor">Valor</label>
                                        <input maxlength="18" type="text" id="valor" name="valor" class="form-control">
                                    </div>
                                    <div class="form-group">
                                       <label for="hist">Histórico</label>
                                       <input maxlength="250" type="text" id="hist" name="hist" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="emissao">Emissão</label>
                                        <input  maxlength="30" type="date" id="emissao" name="emissao" class="form-control">
                                    </div>

                                    </br>
                                    <button type="submit" class="btn btn-primary btn-salvar">
                                        Salvar
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Cancelar
                                    </button>
                                    </br>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
                <form action="/consultar_conta_extrato"  method="post">
                    <div class="row">
                        <div class="form-group">
                            <label for="conta">Conta</h3>
                            <select id="conta" class="form-control" style="width: 350px;">
                                <option selected>Escolha uma conta</option>
                                {% for conta in relacaoContasConsulta %}
                                <option value="{{conta['CODIGO']}}">{{conta['DESCRICAO']}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="data-inicio">Data de Início</label>
                            <input type="date" id="data-inicio" name="data-inicio" class="form-control" placeholder="00/00/0000">
                        </div>    
                        <div class="form-group col-4">
                            <label for="data-final">Data Final</label>
                            <input type="date" id="data-final" name="data-final" class="form-control" placeholder="00/00/0000">
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="form-group col-3">
                            <br>
                            <button type="submit" class="btn btn-primary form-control">
                                Consultar
                            </button>
                        </div>
                    </div>
                </form>

            <div class="row">
                <div class="col-10">
                </div>
                <div class="col-2">
                    <h4 style="color: blue;text-align: right;">
                        Saldo Anterior
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <h4 style="color: blue;text-align: left;">
                        Efetivados       
                    </h4>
                </div>
                <div class="col-2">
                    <input type="text" class="form-control" value="10000,00" style="float: right;"/>
                </div>
            </div>
            <table class="table table-secondary table-sm table-responsive table-striped table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th>Seleção</th>
                        <th>Documento</th>
                        <th>Valor</th>
                        <th>Nome</th>
                        <th>Emissão</th>
                        <th>Débito/Crédito</th>
                        <th>Saldo Acumulado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="radio" name="selecao" value="45" checked style="border: 0px;width: 100%;height: 20px;"/></td>
                        <td>45</td>
                        <td>1560,00</td>
                        <td>Josefino Gourlart</td>
                        <td>21/10/2021</td>
                        <td>C</td>
                        <td>11560,00</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="selecao" value="46" style="border: 0px;width: 100%;height: 20px;"/></td>
                        <td>46</td>
                        <td>1021,85</td>
                        <td>Fort. Ferragens</td>
                        <td>21/10/2021</td>
                        <td>D</td>
                        <td>10538,15</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="selecao" value="47" style="border: 0px;width: 100%;height: 20px;" /></td>
                        <td>47</td>
                        <td>1000,21</td>
                        <td>Ednaldo Pereira</td>
                        <td>18/10/2021</td>
                        <td>C</td>
                        <td>11538,36</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <h4 style="color: blue;text-align: right;">
                        Saldo Efetivado
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-10"></div>
                <div class="col-2" style="float: right;">
                    <input type="text" class="form-control" value="11538,36" style="float: right;"/>  
                </div>
            </div>
            <br>


            <div class="row">
                <div class="col-8">
                    <h4 style="color: blue;text-align: left;">
                        Não Efetivados       
                    </h4>
                </div>   
            </div>
            <table class="table table-secondary table-sm table-responsive table-striped table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th>Seleção</th>
                        <th>Documento</th>
                        <th>Valor</th>
                        <th>Nome</th>
                        <th>Emissão</th>
                        <th>Débito/Crédito</th>
                        <th>Saldo Acumulado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="radio" name="selecao" value="45" style="border: 0px;width: 100%;height: 20px;"/></td>
                        <td>50</td>
                        <td>1000,00</td>
                        <td>Joel CasaBlanca</td>
                        <td>24/10/2021</td>
                        <td>C</td>
                        <td>12538,36</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="selecao" value="46" style="border: 0px;width: 100%;height: 20px;"/></td>
                        <td>51</td>
                        <td>1345,05</td>
                        <td>José Constantino</td>
                        <td>21/10/2021</td>
                        <td>D</td>
                        <td>11193,31</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="selecao" value="47" style="border: 0px;width: 100%;height: 20px;"/></td>
                        <td>52</td>
                        <td>12,90</td>
                        <td>Ednaldo Pereira</td>
                        <td>25/10/2021</td>
                        <td>C</td>
                        <td>11206,21</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="selecao" value="47" style="border: 0px;width: 100%;height: 20px;"/></td>
                        <td></td>
                        <td>0,09</td>
                        <td>RENDIMENTO</td>
                        <td>26/10/2021</td>
                        <td>C</td>
                        <td>11206,30</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="selecao" value="47" style="border: 0px;width: 100%;height: 20px;"/></td>
                        <td></td>
                        <td>2000,00</td>
                        <td>RENDIMENTO</td>
                        <td>05/11/2021</td>
                        <td>D</td>
                        <td>9206,30</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3">
                    <h4 style="color: blue;text-align: right;">
                        Saldo com não Efetivados
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-10"></div>
                <div class="col-2" style="float: right;">
                    <input type="text" class="form-control" value="9206,30" style="float: right;"/>  
                </div>
            </div>
            <div class="row">
                <div class="col-4">

                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-success" disabled>Efetivar</button>
                    <button type="button" class="btn btn-danger">Estornar</button>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#Rendimento">Rendimento</button>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#Transferencia">Transferência</button>
                </div>
                <div class="col-4">
                    
                </div>
            </div>
{%endblock %}