{% extends "template.html" %}
{% block conteudo %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="/">Menu</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle dropbtn"  id="#navbarDropdownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                   onclick="myFunction()">Cadastro</a>
                                <div class="dropdown-menu dropdown-menu-dark dropdown-content"
                                     aria-labelledby="navbarDropdownMenuLink"
                                     id="myDropdown">
                                    <a class="dropdown-item" href="/conta_extrato">Conta</a>
                                    <a class="dropdown-item" href="/cliente">Cliente</a>
                                    <a class="dropdown-item" href="/fornecedor">Fornecedor</a>
                                    <a class="dropdown-item" href="/funcionario">Funcionário</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contas a Pagar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contas a Receber</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Extratos Bancários</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Trocas de Cheques</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!--CADASTRO -->
            <div class="modal fade" id="CadastroFuncionario" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="CadastroFuncionarioLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="CadastroFuncionarioLabel">Cadastro de Funcionário</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/criar_funcionario"  method="post">
                                <fieldset>
                                    <div class="form-group">
                                      <label for="nome">Nome</label>
                                        <input maxlength="100" type="text" id="nome" name="nome" class="form-control">
                                    </div>
                                    <div class="form-group">
                                       <label for="endereco">Endereço</label>
                                       <input maxlength="250" type="text" id="endereco" name="endereco" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="telefone">Telefone</label>
                                        <input  maxlength="30" type="number" id="telefone" name="telefone" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="celular">Celular</label>
                                        <input  maxlength="30" type="number" id="celular" name="celular" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input  maxlength="255" type="text" id="email" name="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                       <label for="cpf">CPF</label>
                                       <input maxlength="14" type="number" id="cpf" name="cpf" class="form-control">
                                    </div>
                                    <div class="form-group">
                                       <label for="login">Login</label>
                                       <input maxlength="255" type="text" id="login" name="login" class="form-control">
                                    </div>

                                    </br>
                                    <button type="submit" class="btn btn-primary btn-salvar">
                                        Salvar
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Cancelar
                                    </button>
                                    </br>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--ALTERAÇÃO FUNCIONÁRIO-->
            <div class="modal fade" id="AlteracaoFuncionario" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="AlteracaoFuncionarioLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content modal-secondary">
                        <div class="modal-header">
                            <h2 class="modal-title" id="AlteracaoFuncionarioLabel">Atualização de Funcionário</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/alterar_funcionario"  method="post">
                                <fieldset>
                                    <input type="hidden" name="id-alteracao" id="id-alteracao">
                                    <div class="form-group">
                                      <label for="nome-alteracao">Nome</label>
                                        <input  type="text" id="nome-alteracao" name="nome-alteracao" class="form-control"
                                                maxlength="100">
                                    </div>
                                    <div class="form-group">
                                       <label for="endereco-alteracao">Endereço</label>
                                       <input   type="text" id="endereco-alteracao" name="endereco-alteracao" class="form-control"
                                                maxlength="250">
                                    </div>
                                    <div class="form-group">
                                        <label for="telefone-alteracao">Telefone</label>
                                        <input   type="text" id="telefone-alteracao" name="telefone-alteracao" class="form-control"
                                                 maxlength="30">
                                    </div>
                                    <div class="form-group">
                                        <label for="celular-alteracao">Celular</label>
                                        <input   type="text" id="celular-alteracao" name="celular-alteracao" class="form-control"
                                                 maxlength="30">
                                    </div>
                                    <div class="form-group">
                                        <label for="email-alteracao">Email</label>
                                        <input   type="email" id="email-alteracao" name="email-alteracao" class="form-control"
                                                 maxlength="255">
                                    </div>
                                    <div class="form-group">
                                       <label for="cpf-alteracao">CPF</label>
                                       <input   type="text" id="cpf-alteracao" name="cpf-alteracao" class="form-control"
                                                maxlength="14">
                                    </div>
                                    <div class="form-group">
                                       <label for="login-alteracao">Login</label>
                                       <input   type="text" id="login-alteracao" name="login-alteracao" class="form-control"
                                                maxlength="25">
                                    </div>
                                    <div class="form-check">
                                        <label for="ativo-alteracao" class="form-check-label"> 
                                            Ativo / Desativado
                                        </label>
                                        <input class="form-check-input" type="checkbox" id="ativo-alteracao" 
                                        name="ativo-alteracao">
                                    </div>

                                    </br>
                                    <button type="submit" class="btn btn-primary btn-salvar">
                                        Salvar
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Cancelar
                                    </button>
                                    </br>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </br>

            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#CadastroFuncionario">
                Novo Funcionário
            </button>
            </br>
            <table class="table table-secondary table-sm table-responsive table-striped table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th>Ações</th>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        <th>Celular</th>
                        <th>Email</th>
                        <th>CPF</th>
                        <th>Login</th>
                        <th>Data Cadastro</th>
                        <th>Ativo</th>
                    </tr>
                </thead>
                <tbody>
                {% for funcionario in funcionarios %}
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    onclick="CarregaEdicaoFunc(this)" data-bs-target="#AlteracaoFuncionario">
                               Alterar
                            </button>
                        </td>
                        <td> {{funcionario.get_codigo()}}</td>
                        <td> {{funcionario.get_nome()}}</td>
                        <td> {{funcionario.get_endereco()}}</td>
                        <td> {{funcionario.telefone}}</td>
                        <td> {{funcionario.celular}}</td>
                        <td> {{funcionario.email}}</td>
                        <td> {{funcionario.get_cpf()}}</td>
                        <td> {{funcionario.login}}</td>
                        <td> {{funcionario.datacadastro}}</td>
                        <td> 
                            {%if funcionario.ativo %} <img src="{{url_for('static', filename='images/check.svg')}}" alt="Ativo" width="25" height="25"> 
                            {% else %} <img src="{{url_for('static', filename='images/close.svg')}}" alt="Desativado" width="25" height="25"> {% endif %}
                        </td>
                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{%endblock %}