<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sistema de Gerenciamento Financeiro</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'bootstrap.css')}}">
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'style.css')}}">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "{{url_for('static', filename = 'bootstrap.bundle.js')}}"></script>
        <script src = "../static/global.js"></script>
        <script>
        var _linhaAlteracao = null;
        function CarregaEdicaoFunc(TagControle){

            _linhaAlteracao = $(TagControle).parents("tr");
            var colunasAlteracao = _linhaAlteracao.children("td");

            $("#id-alteracao").val($(colunasAlteracao[1]).text());
            $("#nome-alteracao").val($(colunasAlteracao[2]).text());
            $("#endereco-alteracao").val($(colunasAlteracao[3]).text());
            $("#telefone-alteracao").val($(colunasAlteracao[4]).text());
            $("#celular-alteracao").val($(colunasAlteracao[5]).text());
            $("#email-alteracao").val($(colunasAlteracao[6]).text());
            $("#cpf-alteracao").val($(colunasAlteracao[7]).text());
            $("#login-alteracao").val($(colunasAlteracao[8]).text());
            $("#ativo-alteracao").val($(colunasAlteracao[10]).val());
        };

        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn')) {
          var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }


        </script>

    </head>
    <body>
        <div class="container">

            <!-- Indica local onde o restante da página será carregado para cada
            página que tem como template padrão este arquivo -->
            {%block conteudo %} {%endblock %}
            <div class="page-header">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul id="messages" class="list-unstyled">
                        {% for message in messages %}
                            <li class="alert alert-success">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </body>
</html>